In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv("./datasets/train_1st_clean.csv")
df.shape

(2051, 82)

In [3]:
kaggle_data = pd.read_csv('./datasets/test.csv')
kaggle_data.shape

(878, 80)

In [4]:
df.head()

,Unnamed: 0,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,...,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type,saleprice
0,0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [5]:
df = df.drop(columns='Unnamed: 0')
df.head()

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type,saleprice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

# Fixing Kaggle test set column names

In [6]:
kaggle_data.columns = [col.replace(" ", "_").lower() for col in kaggle_data.columns]
kaggle_data.head()

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,3ssn_porch,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [15]:
df.corr().abs()[['saleprice']].sort_values('saleprice').iloc[9:-13] # Only counting things with higher corr than ID, but less than previous features

                saleprice
ms_subclass      0.087335
overall_cond     0.097019
kitchen_abvgr    0.125444
screen_porch     0.134581
enclosed_porch   0.135656
bedroom_abvgr    0.137067
bsmt_unf_sf      0.190210
2nd_flr_sf       0.248452
pid              0.255052
half_bath        0.283001
bsmt_full_bath   0.283662
lot_area         0.296566
wood_deck_sf     0.326490
open_porch_sf    0.333476
lot_frontage     0.341842
bsmtfin_sf_1     0.423519
fireplaces       0.471093

In [9]:
nulls = df.isnull().sum()
nulls[nulls > 0]

lot_frontage       330
alley             1911
mas_vnr_type        22
bsmt_qual           55
bsmt_cond           55
bsmt_exposure       58
bsmtfin_type_1      55
bsmtfin_sf_1         1
bsmtfin_type_2      56
bsmtfin_sf_2         1
bsmt_unf_sf          1
bsmt_full_bath       2
bsmt_half_bath       2
fireplace_qu      1000
garage_type        113
garage_finish      114
garage_qual        114
garage_cond        114
pool_qc           2042
fence             1651
misc_feature      1986
dtype: int64

# What columns have nulls that are in the correlation matrix above?

bsmt_unf_sf

bsmt_full_bath

bsmtfin_sf_1

lot frontage

# Last 12 in corr are already checked since the first Lin Reg was already checked

In [16]:
df['bsmt_unf_sf'].value_counts() # unique per house, since 0 is most counted, will fill NA with zeros

0.0       165
384.0      14
672.0      11
728.0      10
816.0       9
         ...
266.0       1
20.0        1
521.0       1
109.0       1
1211.0      1
Name: bsmt_unf_sf, Length: 967, dtype: int64

In [18]:
df['bsmt_unf_sf'].isnull().sum() # Only one NA value

1

In [19]:
df['bsmt_unf_sf'] = df['bsmt_unf_sf'].fillna(0)

In [21]:
df['bsmt_full_bath'].value_counts() # unique per house, since 0 is most counted, will fill NA with zeros

0.0    1200
1.0     824
2.0      23
3.0       2
Name: bsmt_full_bath, dtype: int64

In [22]:
df['bsmt_full_bath'].isnull().sum() # Only two NA value

2

In [23]:
df['bsmt_full_bath'] = df['bsmt_full_bath'].fillna(0)

In [25]:
df['bsmtfin_sf_1'].value_counts() # unique per house, since 0 is most counted, will fill NA with zeros

0.0       657
24.0       17
16.0       10
20.0        7
384.0       7
         ...
718.0       1
900.0       1
918.0       1
1619.0      1
1159.0      1
Name: bsmtfin_sf_1, Length: 821, dtype: int64

In [26]:
df['bsmtfin_sf_1'].isnull().sum() # Only one NA value

1

In [27]:
df['bsmtfin_sf_1'] = df['bsmtfin_sf_1'].fillna(0)

In [38]:
df['lot_frontage'].isnull().sum()

330

In [36]:
df['lot_frontage'].value_counts()

60.0     179
70.0      96
80.0      94
50.0      90
65.0      71
        ...
119.0      1
117.0      1
137.0      1
22.0       1
195.0      1
Name: lot_frontage, Length: 118, dtype: int64

In [37]:
df['lot_frontage'].describe() # Going to replace NaN with mean column values

count    1721.000000
mean       69.055200
std        23.260653
min        21.000000
25%        58.000000
50%        68.000000
75%        80.000000
max       313.000000
Name: lot_frontage, dtype: float64

In [39]:
df['lot_frontage'] = df['lot_frontage'].fillna(round(df['lot_frontage'].mean()))

In [40]:
df['lot_frontage'].isnull().sum()

0

# All Correlated Values nan values are fixed, will create features matrix then Lin Reg

In [43]:
features = ['totrms_abvgrd', 'mas_vnr_area', 'full_bath', 'year_remod/add', 
            'garage_yr_blt', 'year_built', '1st_flr_sf', 'total_bsmt_sf', 
            'garage_cars', 'garage_area', 'gr_liv_area', 'overall_qual', 
            'ms_subclass', 'overall_cond', 'kitchen_abvgr', 'screen_porch', 
            'enclosed_porch', 'bedroom_abvgr', 'bsmt_unf_sf', '2nd_flr_sf', 
            'pid', 'half_bath', 'bsmt_full_bath', 'lot_area', 'wood_deck_sf', 
            'open_porch_sf', 'lot_frontage', 'bsmtfin_sf_1', 'fireplaces']

In [44]:
X = df[features]
y = df['saleprice']

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [46]:
lr = LinearRegression()

In [47]:
lr.fit(X_train, y_train)

LinearRegression()

In [48]:
lr.score(X_train, y_train), lr.score(X_test, y_test)

(0.8142139618608762, 0.8618185597054918)

In [49]:
cross_val_score(lr, X_train, y_train).mean()

0.7730430894340097

# Getting rid of NA values in Kaggle Data, copying practice from EDA book

In [50]:
kaggle_data['mas_vnr_area'] = kaggle_data['mas_vnr_area'].fillna(round(kaggle_data['mas_vnr_area'].mean()))
kaggle_data['garage_yr_blt'] = kaggle_data['garage_yr_blt'].fillna(kaggle_data['year_built'])
kaggle_data['total_bsmt_sf'] = kaggle_data['total_bsmt_sf'].fillna(round(kaggle_data['total_bsmt_sf'].mean()))
kaggle_data['garage_cars'] = kaggle_data['garage_cars'].fillna(round(kaggle_data['garage_cars'].mean()))
kaggle_data['garage_area'] = kaggle_data['garage_area'].fillna(round(kaggle_data['garage_area'].mean()))

kaggle_data['lot_frontage'] = kaggle_data['lot_frontage'].fillna(round(kaggle_data['lot_frontage'].mean()))
kaggle_data['bsmtfin_sf_1'] = kaggle_data['bsmtfin_sf_1'].fillna(0)
kaggle_data['bsmt_full_bath'] = kaggle_data['bsmt_full_bath'].fillna(0)
kaggle_data['bsmt_unf_sf'] = kaggle_data['bsmt_unf_sf'].fillna(0)

In [51]:
predictions =lr.predict(kaggle_data[features])

In [52]:
kaggle_data['saleprice'] = predictions

In [53]:
kaggle_data.head()

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type,saleprice
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2006,WD,128767.028044
1,2718,905108090,90,RL,70.0,9662,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,8,2006,WD,150837.836254
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,9,2006,New,225074.678708
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,7,2007,WD,122165.776187
4,625,535105100,20,RL,70.0,9500,Pave,NaN,IR1,Lvl,...,185,0,NaN,NaN,NaN,0,7,2009,WD,203854.003082

In [54]:
kaggle_lin2 =kaggle_data[['id', 'saleprice']]

In [55]:
kaggle_lin2.to_csv('./datasets/Kaggle_mlr2.csv', index=False)

In [56]:
kaggle_lin2.shape

(878, 2)